body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/* Voice Authenticator status styling */
.auth-status {
  font-size: 2em;
  margin-top: 1em;
}
